.chats {
    max-width: 700px;
    width: 100%;
    overflow-y: auto;
    /* auto instead of scroll (no scrollbar when not needed) */
    padding: 2rem 8rem;
    /* reduced top/bottom padding */
    flex: 1;
    /* takes available space without overflowing */
    display: flex;
    flex-direction: column;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}